*{
    box-sizing: border-box;
}
.on-navv{
    background-color: #E65100;
}
.on-nav{

    background-color:#FFCC80 !important;
}

/* .navbar-collapse{
    height: 20px !important;

}  */
.cliniclogo{
    width: 20px;
}

.footerr{
    width: 100%;
    background-color: #EF6C00;
    display: block;
   
}
.inner-footerr{
    width: 65%;
    margin: auto;
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    font-family: 'cenury gothic';
}
.footer-itemsr {
    width: 100%;
    padding : 10px 0px;
    box-sizing: border-box;
}
/* <<<<>> */




/* <<<<<<<<<SECOND NAV BAR>>>>>>>>>>>>>> */
.VET{
    height: 80px;
}
/* <<<<<<<<<<MAVBAR-UNDERLINE>>>>>>>>>>> */
.underline::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background:  #FF6D00;
    transition: width .2s;

}
.underline:hover::after{
    width: 100%;
    transition: width .3s;
}
/* <<<<<<<<<<MAVBAR-UNDERLINE END>>>>>>>>>>> */



/* <<<<<<<<<<<<OUR SERVICES>>>>>>>>>>>>> */






/* body {
    background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
    min-height: 100vh;
    font: normal 16px sans-serif;
    padding: 60px 0;
} */

.container.gallery-container {
    background-color: #fff;
    background: -webkit-linear-gradient(45deg, #e54304, #ffaf49);
    background: -o-linear-gradient(45deg, #e54304, #ffaf49);
    background: -moz-linear-gradient(45deg, #e54304, #ffaf49);
    background: linear-gradient(45deg, #e54304, #ffaf49);
    color: #35373a;
    min-height: 100px;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family:sans-serif;
    font-weight: bold;
}

.gallery-container {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

















































/* <<<<<<<<<<<<<<<Googlemap>>>>>>>>>>> */
.googlemap{
    margin-top: 30px;
   box-shadow: 0px 8px 5px grey;
   border: 1px solid #FF9800;
}
/* <<<<<<<<<<Footer<>>>>>>>>>>>>>>> */
*{
    margin: 0;
    padding: 0;
}
.body-content{
    width: 100%;
    padding: 20px;
    text-align: justify;
    box-sizing: border-box;
}
.footer{
    width: 100%;
    background-color: #EF6C00;
    display: block;
    margin-top: 30px;
}
.inner-footer{
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    font-family: 'cenury gothic';
}
.footer-items{
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}
.h1{
    padding: 10px 0;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}
.footer-items p{
    color: gray;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;

}
h2{
    margin: 10px 0;
    color: gray;
    font-size: 16px;
    font-weight: 40px;
    background: #fff;

}
ul{
    list-style: none;
    color:#fff;
    font-size: 15px;
    letter-spacing: 0.5px;
}
ul a{
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}
ul a:hover{
    color: #EF6C00;
}
ul li{
    margin: 10px 0;
    height: 25px;
}
li i {
    margin-right: 20px;
}
.social-media{
    width: 100%;
    color: #fff;
    text-align: center;

}
.social-media a{
    text-decoration: none;
}
.social-media i{
   /* height: 15px;
   width: 15px;
   margin: 20px 5px; */
   padding: 10px;
   color:#fff;
   /* border-radius: 50%; */
   border :1px solid gray;
   transition: 0.3s;
}
.social-media i:hover{
    background: gray;
}
.footer-bottom{
    padding: 10px;
    background: #3d535f;
    color: #fff;
    font-size: 12px;
}
@media screen and (max-width: 1085px){
    .footer-items{
        width: 50%;
    }
} 
@media screen and (max-width: 600px){
    .footer-items{
        width: 100%;
    }
} 

/* <<<<<<<<<<<<<<<<<TOP ARROW>>>>>>>>>>>>>>>> */
.top{
    position: fixed;
    bottom: 10px;
    right: 5px;
}
/* <<<<<<<<<<<>>>>>>>>>>>>>>> *//* <<<<<<<<<<<>>>>>>>>>>>>>>> *//* <<<<<<<<<<<>>>>>>>>>>>>>>> *//* <<<<<<<<<<<>>>>>>>>>>>>>>> *//* <<<<<<<<<<<>>>>>>>>>>>>>>> *//* <<<<<<<<<<<>>>>>>>>>>>>>>> *//* <<<<<<<<<<<>>>>>>>>>>>>>>> *//* <<<<<<<<<<<>>>>>>>>>>>>>>> *//* <<<<<<<<<<<>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<>>>>>>>>>>>>>>> *//* <<<<<<<<<<<>>>>>>>>>>>>>>> *//* <<<<<<<<<<<>>>>>>>>>>>>>>> *//* <<<<<<<<<<<>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<>>>>>>>>>>>>>>> *//* <<<<<<<<<<<>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<>>>>>>>>>>>>>>> *//* <<<<<<<<<<<>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<>>>>>>>>>>>>>>> *//* <<<<<<<<<<<>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<>>>>>>>>>>>>>>> *//* <<<<<<<<<<<>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<>>>>>>>>>>>>>>> *//* <<<<<<<<<<<>>>>>>>>>>>>>>> */
/* <<<<<<<<<<<>>>>>>>>>>>>>>> *//* <<<<<<<<<<<>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<Gallery>>>>>>>>>>>>>>> */

.about{
    width: 100%;
    background-color: #EF6C00;
    display: block;
    margin-top: 30px;
    padding-left: 40px;
    font-size: 2rem;
    color: white;
}


.both .row{
    margin-top: 40px;
  }

 .card{
     border: 1px solid gray; 
 } 
.abouth{
     margin-top:70px;
 }
 .abouti{
    margin-top: 30px;
}









/* <<<<<<<<<<<<SERVICES>>>>>>>>>>>>> */
.headd{
    font-size: 1.5rem;
    margin-top: 30px;
    font-family: 'tonis';
}
.type-head {
   margin-top: 30px;
     color: #FFC107;
}
.type-head  ul{

  color:black;
}

.square{   
    margin-left: 20px;
}




/* <<<<<<<<<<<<SERVICES>>>>>>>>>>>>> */



/* <<<<<<<<<<<<<<<NAVHEADER>>>>>>>>>>>>>> */



